nav{
    background-color: rgba(128, 128, 128, 0.274);
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;

}
#Noodles{
    background-color: aqua;
    width: 150px;
    text-align: center;
    float: left;
      
}
#Hallo{
    background-color: blueviolet;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 50px;

}
#lOl{
    background-color: red;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 50px;

}
#Habibi{
    background-color:aliceblue;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 50px;

}
#Polo{
    background-color:brown;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 50px;
}
#Yeah{
    background-color: violet;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 50px;
}