* {
    box-sizing: border-box;
  }
  

img{
    width: 300px;
    height: 125px;
    object-fit: cover;
    box-sizing: border-box;
    
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border: 10px solid blue; 
    border-radius: 10px;  
}

body{
background-color: rgb(61, 61, 61);v
}