h1{
    color: blue;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

h6{
    color: blueviolet;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}