*{
    font-family: 'Courier New', Courier, monospace;
}
#left{
    width: 50%;
    height: 100%;
    float: left;
}
#right{
    width: 50%;
    height: 100%;
    float: left;
}

h1{
    color: orange;
    letter-spacing: 25px;
    word-spacing: 25px;
    max-width: 500px;
    font-size: 30px;
}

h2{
    color: orange;
    letter-spacing: 25px;
    font-size: 40px;
}